---
- name: Add apt gpg key
  apt_key:
    # If you need to change the key use at least gpg --keyid-format long keyfile
    # the 32-bit short format is easily collided and insecure.
    url=http://ossec.wazuh.com/repos/apt/conf/ossec-key.gpg.key
    id=14B9C8DB9A1B1C65
  when: ansible_distribution == 'Debian' or ansible_distribution == 'Ubuntu'

- name: Add apt repository
  apt_repository:
    repo='deb http://ossec.wazuh.com/repos/apt/ubuntu/ {{ansible_distribution_release}} main'
    state=present
  when: ansible_distribution == 'Debian' or ansible_distribution == 'Ubuntu'

- name: Add rpm repository
  yum_repository:
    name=ossec.wazuh
    description='WAZUH OSSEC Repository - www.wazuh.com'
    baseurl=http://ossec.wazuh.com/el/7/x86_64
    gpgcheck=yes
    gpgkey=http://ossec.wazuh.com/key/RPM-GPG-KEY-OSSEC
    enabled=yes
  when: ansible_distribution == 'Amazon'

- name: Install
  package:
    name=ossec-hids-agent
    state=latest

- name: Add configuration
  template:
    src=ossec.conf
    dest=/var/ossec/etc/ossec.conf
    owner=root
    group=ossec

- name: Register agent
  command: /var/ossec/bin/agent-auth -m {{ossec_server}}
  args:
    creates: /var/ossec/etc/client.keys
  notify: restart ossec

- name: Copy init.d for ossec
  copy:
    src=ossec
    dest=/etc/init.d
    mode=0755
